* {
    margin: 0;
}

body {
    font-size: 14px;
    background-color: #ffffff;
}

.wrapper {
    margin: auto;
    width: 800px;
    height: 100vh;
    user-select: none;
    padding: 30px 0 0;
}

.textarea {
    width: 100%;
    height: 200px;
    display: block;
}

.textarea:focus {
    outline: none;
}

.keyboard {
    width: 700px;
    height: 240px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

.keyboard-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.keyboard-row:not(:first-of-type) {
    margin-top: 10px;
}

.key {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #37393d;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.key_medium {
    width: 99px;
}

.key_small {
    width: 53px;
}

.key_big {
    width: 310px;
}
.key:hover {
    cursor: pointer;
    background-color: #3295bf;
}

.active {
    background-color:  #3295bf;
    border-radius: 20px;
}


.circleCapsLock {
    width: 10px;
    height: 10px;
    background: rgba(red, green, blue, 0);
    border-radius: 50%;
    position: absolute;
    top: 126px;
    left: 95px;
}

.capsActive {
    background: lawngreen;
}
